# Dependencies
node_modules/

# Build output
dist/
electron-dist/
build/icons/

# Downloaded files
electron-v*.zip

# IDE
.idea/
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Cache
.cache/
